body{
    font-family: 'Oswald', sans-serif;
}
h1{
    text-align: center;
    font-size:80px;
    color: black;
    
    
    
}
span{
    color:chartreuse;
}
section{
    display:flex;
    padding:5px;
    margin-bottom: 100px;
  
    
}
#skip{
    color:tomato;
}
.half-width{
    width:50%;

}
.half-width image{
    width:30%;
}
.button{
    border:none;
    width:20px, 50px;
    text-decoration: none;

    border-radius: 30px;
    background-image:linear-gradient(tomato, orange);
    margin:0;
}
#eat{
    width:300px;
    height: 500px;

}

 
}




   
}
#first-background{
    background-color:rgb(88, 8, 8);
}
#second-background:{
    background-color: rgb(107, 13, 13);
}

#last-background{
    text-shadow: lightsteelblue;
    display: flex;
   
  background-color: blanchedalmond;

}
.equal{
    width:30%;
    border-radius:20px;
    margin:4%;
    padding:10px;
    box-shadow: 0 0 10px 10px #ccc
}
#fast{
    width:300px;
    height: 300px;
}
#middle{
    width:300px;
    height: 300px;
    border-radius: 20px;
}
#last{
    width:300px;
    height: 300px;
   
    
}


#left{
   
    border-radius: 20px;
    background-color: whitesmoke;
   
}
#center{
    border:10px;
    border-radius: 20px;
    background-color: whitesmoke;
}
#right{
    border:10px;
    border-radius: 20px;
    background-color: whitesmoke;
    
}
.follower{
    width:30%;
    border-radius:20px;
    margin:4%;
    padding:10px;
    box-shadow: 0 0 10px 10px #ccc;
    text-align: center;
}
footer{
    background-color:orangered;
    text-align: center;
}
#eat{
    width: 500px;
    height: 400px;
}
#shape{
    width: 250px;
    height:400px;
}