body{
    font-family: 'Oswald', sans-serif;
}

h1{
    text-align: center;
    font-size:80px;
    color: black;
    background-position: center;

}
span{
    color:chartreuse;
}
section{
    display:flex;
    padding:0px;
    margin-bottom: 100px;
  
    
}
.first-background{
    background-color:rgb(250, 244, 244);
}
#skip{
    color:tomato;
}
.half-width{
    width:50%;

}
.half-width image{
    width:30%;
}
.button{
    border:none;
    width:20px, 50px;
    text-decoration: none;

    border-radius: 30px;
    background-image:linear-gradient(tomato, orange);
    margin:0;
}
#eat{
    width:300px;
    height: 500px;

}

    


#last-background{
    text-shadow: lightsteelblue;
    display: flex;
   
  background-color: blanchedalmond;

}
.second-background{
    background-image: url(images/shapes/7.png);
}
.equal{
    width:30%;
    border-radius:20px;
    margin:4%;
    padding:20px;
    box-shadow: 0 0 10px 10px #ccc;


}
#fast{
    width:300px;
    height: 300px;
}
#middle{
    width:300px;
    height: 300px;
    border-radius: 20px;
}
#last{
    width:300px;
    height: 300px;
   
    
}


#left{
   
    border-radius: 20px;
    background-color: whitesmoke;
   
}
#center{
    border:10px;
    border-radius: 20px;
    background-color: whitesmoke;
}
#right{
    border:10px;
    border-radius: 20px;
    background-color: whitesmoke;
    
}
.follower{
    width:30%;
    border-radius:20px;
    margin:4%;
    padding:10px;
    box-shadow: 0 0 10px 10px #ccc;
    text-align: center;
}
footer{
    background-color:orangered;
    text-align: center;
}
#eat{
    width: 500px;
    height: 400px;
}
#shape{
    width: 250px;
    height:400px;
}
.recepies{
    width:95%;

    text-align: center;
}